
<%= erb :'partials/_navbar', layout: false%>
<div class="row">

<div class="container">
<h3>Profile of <%= @user.email%></h3>
<h4><%= @user.first_name %> <%= @user.last_name %>'s subscriptions</h4>


</div>
</div>
